@import '../../styles/guidelines.scss';

.pagination {
	grid-column: span 10;
	display: grid;
	grid-template-columns: subgrid;
	gap: $spacing-xxs;

	.pageButtons {
		grid-column: span 10;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: $spacing-xs;

		button {
			background-color: $color-pure-white;
			padding: $spacing-xxs;
			border-radius: $radius;
			aspect-ratio: 1/1;
			height: 100%;

			&:disabled {
				$disabledButtonColor: rgba($color-light-gray, 0.25);

				color: $disabledButtonColor;
				outline: 1px solid $disabledButtonColor;

				background-color: $color-white;
			}

			&.activePage {
				color: $color-pure-white;
				background-color: $color-blue;
				outline: none;
			}
		}
	}
}
